a.hamburger {
    display: block;
    float: right;
    height: 44px;
    margin-right: 10px;
    transition: box-shadow 0.75s ease;
    width: 44px;

    &:hover, &.active {
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    }
    
    span,
    span:before,
    span:after {
        background: #000;
        display: block;
        height: 4px;
        position: relative;
        width: 30px;
    }
    
    span {
        left: 7px;
        top: 20px;
    }
    
    span:before {
        top: -9px;
    }
    
    span:after {
        top: 5px;
    }
    
    span:before,
    span:after {
        content: " ";
        transition: all 0.75s ease;
    }
}

a.hamburger.active {
    span {
        background: transparent;
    }
    
    span:before {
        top: 2px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    span:after {
        top: -2px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}