body > header {
    height: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    
	nav {
		transition: all 0.75s ease;
        z-index: 0;
        
        a.brand {
            color: #000;
            display: inline-block;
            height: 44px;
            margin-left: 10px;
            text-decoration: none;
            transition: box-shadow 0.75s ease;
            
            &:hover {
                box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
            }
            
            h1 {
                font-family: $font-sans;
                font-size: $big-height;
                line-height: ceil($big-height * $golden-ratio);
                margin: 0;
                padding: ((44 - ceil($big-height * $golden-ratio)) / 2) 10px;
                text-transform: uppercase;
                
                span.name-label,
                span.website-label {
                    display: none;
                    visibility: none;
                }
            }
        }
	}
    
    div.background {
        background: #fff;
        height: 44px;
        left: 0;
        opacity: 0.8;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -999;
    }
}
