html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
    -webkit-text-size-adjust: none;
}

.container {
    margin: 0 auto;
    width: $container-width;
    
    @media (max-width: $container-width) {
        margin: 0;
        width: 100%;
    }
}

.splash {
    background: #000;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -5;
    
    @media (max-width: $break-width) {
        display: none;
        visibility: collapse;
    }
    
    @media print {
        display: none;
        visibility: collapse;
    }
    
    a {
        display: none;
        visibility: collapse;
    }
    
    img {
        opacity: 0;
        width: 100%;
        transition: opacity 0.75s ease-in;
        
        &.loaded {
            opacity: 0.5;
        }
    }
}
