ul.navmenu {
    background: #fff;
    display: block;
    list-style: none;
    margin: 0 10px 0 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 44px;
    transition: max-height 0.75s ease;
    width: 300px;
    
    &.active {
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
        max-height: 185px;
    }
    
    &>li {
        display: block;
        
        &>a {
            color: #000;
            display: block;
            font-family: $font-sans;
            font-size: 24px;
            height: 40px;
            line-height: 30px;
            padding: 8px 5px;
            text-decoration: none;
            transition: box-shadow 0.75 ease;
            
            &:hover {
                box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
            }
        }
        
        &.separator {
            display: block;
            border-bottom: 1px solid #ccc;
            margin: 8px auto;
            width: 90%;
        }
        
        &.social-links {
            line-height: 40px;
            height: 40px;
            
            a {
                float: left;
                text-align: center;
                width: 65px;
            }
        }
    }
}