article.post {
    .youtube-wrapper {
        border-radius: 4px;
    	height: 0;
        margin-top: $big-height;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	position: relative;

        @media (max-width: $break-width) {
            margin-top: ceil($big-height * $break-scale);
        } 
    }
    
    .youtube-wrapper iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}
