<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        @RenderSection("meta", required: false)
		<title>Caleb Everett's Website</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,600|Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>    
		<link href="/css/main.css" rel="stylesheet">
        <noscript><link href="/css/noscript.css" rel="stylesheet"></noscript>
		@RenderSection("styles", required: false)
	</head>
	<body>
		<header>
		  <nav>
			<a class="brand" href="/">
              <h1>Caleb<span class="last-name"> Everett</span>'s Website</h1>
            </a>
	      </nav>
		</header>
        <main>
		  @RenderBody()
        </main>
        <footer>
            <div class="container">
                <p>Copyright &copy; 2015 Caleb Everett. License terms and source code are available <a href="https://github.com/everettcaleb/ceverett-website">on GitHub</a>.</p>
            </div>
        </footer>
		
		<script src="/lib/require.min.js"></script>
		<script src="/lib/main.js"></script>
		@RenderSection("scripts", required: false)
	</body>
</html>
