@{
}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1">
		<title>Caleb Everett's Website</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,600|Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>    
		<link href="/css/main.css" rel="stylesheet">
		@RenderSection("styles", required: false)
	</head>
	<body>
		<header>
		  <nav>
			<a class="brand" href="/">
              <h1>Caleb<span class="last-name"> Everett</span>'s Website</h1>
            </a>
	      </nav>
		</header>
        <main>
		  @RenderBody()
        </main>
		
		<script src="/lib/require.min.js"></script>
		<script src="/lib/main.js"></script>
		@RenderSection("scripts", required: false)
	</body>
</html>