@using CEverett.ViewModels
@model PostViewModel

<div class="tags">
    <i class="fa fa-tag"></i>
	@foreach(var tag in Model.Tags)
	{
		<a class="tag" href="/?q=@tag">@tag</a>	
	}
</div>
@Html.Partial("_PostTweetButton", Model.Title)
<div class="copyright">
    &copy; <a href="https://twitter.com/everettcaleb" target="_blank">Caleb Everett</a> 2015
</div>