@using CEverett.ViewModels
@model PostViewModel

<h2 class="title">@Model.Title</h2>
<div class="byline">
	<a class="author" href="/about">Caleb Everett</a>
    <span class="date">
		@Model.PostDateTime.ToShortDateString()
	</span>
</div>

