@using CEverett.ViewModels
@model PostViewModel

<article class="post summary">
    <header class="container">
        <a href="/post/@Model.Id">
            <h2 class="title">@Model.Title</h2>
        </a>
        <div class="byline">
        	<a class="author" href="/about">Caleb Everett</a>
            <span class="date">
        		@Model.PostDateTime.ToLongDateString()
        	</span>
        </div>
    </header>
    <div class="container">
    	<div class="content">
            @Html.Raw(Model.Summary)
    	</div>
        
    	@Html.Partial("_PostFooter")
    </div>
</article>
