@using CEverett.ViewModels
@model PostViewModel
<article class="post">
	@Html.Partial("_PostHeader")
	<p class="summary">
		@Model.Summary
        <a class="read-more" href="/post/@Model.Id">Read More...</a>
	</p>
	@Html.Partial("_PostFooter")
</article>
