/* line 1, ../../sass/_article.scss */
article.post {
  padding: 26px;
}
@media (max-width: 500px) {
  /* line 1, ../../sass/_article.scss */
  article.post {
    padding: 21px;
  }
}
/* line 8, ../../sass/_article.scss */
article.post a {
  text-decoration: none;
}
/* line 12, ../../sass/_article.scss */
article.post header {
  text-align: center;
}
/* line 16, ../../sass/_article.scss */
article.post h2.title {
  color: transparent;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 52px;
  margin: 0;
  max-width: 100%;
  padding: 0;
}
@media (max-width: 500px) {
  /* line 16, ../../sass/_article.scss */
  article.post h2.title {
    font-size: 26px;
    line-height: 42px;
  }
}
/* line 31, ../../sass/_article.scss */
article.post h2.title span {
  color: black;
  display: inline-block;
}
/* line 36, ../../sass/_article.scss */
article.post h2.title .filler {
  font-weight: 300;
  font-style: italic;
}
/* line 41, ../../sass/_article.scss */
article.post h2.title .important {
  font-weight: 600;
  text-transform: uppercase;
}
/* line 47, ../../sass/_article.scss */
article.post .byline, article.post .tags {
  color: #777;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
@media (max-width: 500px) {
  /* line 47, ../../sass/_article.scss */
  article.post .byline, article.post .tags {
    font-size: 13px;
    line-height: 21px;
  }
}
/* line 59, ../../sass/_article.scss */
article.post .byline a, article.post .tags a {
  color: inherit;
  text-decoration: none;
}
/* line 65, ../../sass/_article.scss */
article.post .byline {
  padding: 0;
}
/* line 68, ../../sass/_article.scss */
article.post .byline:before {
  content: "By ";
  font-style: italic;
}
/* line 73, ../../sass/_article.scss */
article.post .byline a.author {
  text-transform: uppercase;
}
/* line 78, ../../sass/_article.scss */
article.post .byline .date:before {
  content: " on ";
  font-style: italic;
}
/* line 85, ../../sass/_article.scss */
article.post .tags {
  display: inline-block;
  padding: 0;
}
/* line 89, ../../sass/_article.scss */
article.post .tags a.tag {
  font-size: 10px;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  /* line 89, ../../sass/_article.scss */
  article.post .tags a.tag {
    font-size: 8px;
  }
}
/* line 97, ../../sass/_article.scss */
article.post .tags a.tag:after {
  content: ",";
}
/* line 101, ../../sass/_article.scss */
article.post .tags a.tag:last-of-type:after {
  content: "";
}
/* line 107, ../../sass/_article.scss */
article.post .content {
  margin: 0;
  padding: 0;
}
/* line 111, ../../sass/_article.scss */
article.post .content p {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 26px;
  margin: 26px 0 0 0;
}
@media (max-width: 500px) {
  /* line 111, ../../sass/_article.scss */
  article.post .content p {
    font-size: 13px;
    line-height: 21px;
    margin: 21px 0 0 0;
  }
}
/* line 124, ../../sass/_article.scss */
article.post .content img {
  border-radius: 4px;
  display: block;
  width: 100%;
}
/* line 130, ../../sass/_article.scss */
article.post .content a:last-of-type {
  color: #777;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 1, ../../sass/_footer.scss */
body > footer {
  background: #000;
  bottom: 0;
  color: #777;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 26px;
  margin: 0;
  position: fixed;
  width: 100%;
}
/* line 13, ../../sass/_footer.scss */
body > footer a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
/* line 19, ../../sass/_footer.scss */
body > footer p {
  margin: 5px 0;
  text-align: center;
}
@media (max-width: 500px) {
  /* line 1, ../../sass/_footer.scss */
  body > footer {
    font-size: 13px;
    line-height: 21px;
  }
  /* line 28, ../../sass/_footer.scss */
  body > footer .code-related {
    display: none;
    visibility: collapse;
  }
}

/* line 1, ../../sass/_hamburger.scss */
a.hamburger {
  display: block;
  float: right;
  height: 44px;
  margin-right: 10px;
  transition: box-shadow 0.75s ease;
  width: 44px;
}
/* line 9, ../../sass/_hamburger.scss */
a.hamburger:hover, a.hamburger.active {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}
/* line 13, ../../sass/_hamburger.scss */
a.hamburger span,
a.hamburger span:before,
a.hamburger span:after {
  background: #000;
  display: block;
  height: 4px;
  position: relative;
  width: 30px;
}
/* line 23, ../../sass/_hamburger.scss */
a.hamburger span {
  left: 7px;
  top: 20px;
}
/* line 28, ../../sass/_hamburger.scss */
a.hamburger span:before {
  top: -9px;
}
/* line 32, ../../sass/_hamburger.scss */
a.hamburger span:after {
  top: 5px;
}
/* line 36, ../../sass/_hamburger.scss */
a.hamburger span:before,
a.hamburger span:after {
  content: " ";
  transition: all 0.75s ease;
}

/* line 44, ../../sass/_hamburger.scss */
a.hamburger.active span {
  background: transparent;
}
/* line 48, ../../sass/_hamburger.scss */
a.hamburger.active span:before {
  top: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 54, ../../sass/_hamburger.scss */
a.hamburger.active span:after {
  top: -2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 1, ../../sass/_header.scss */
body > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
/* line 7, ../../sass/_header.scss */
body > header nav {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  height: 44px;
  transition: all 0.75s ease;
  z-index: 0;
}
/* line 13, ../../sass/_header.scss */
body > header nav a.brand {
  color: #000;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  transition: box-shadow 0.75s ease;
}
/* line 20, ../../sass/_header.scss */
body > header nav a.brand:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}
/* line 24, ../../sass/_header.scss */
body > header nav a.brand h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 43px;
  margin: 0;
  padding: 0.5px 10px;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  /* line 32, ../../sass/_header.scss */
  body > header nav a.brand h1 span.last-name {
    display: none;
    visibility: collapse;
  }
}
/* line 42, ../../sass/_header.scss */
body > header div.background {
  background: #fff;
  height: 44px;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -999;
}

/* line 1, ../../sass/_iOSGistFix.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 9, ../../sass/_iOSGistFix.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 15, ../../sass/_iOSGistFix.scss */
.gist,
.gist .gist-data .file-data td span,
.gist .gist-data .file-data td pre .line {
  font-size: 12px !important;
}

/* line 1, ../../sass/_mainContent.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 8, ../../sass/_mainContent.scss */
body {
  padding-top: 44px;
  -webkit-text-size-adjust: none;
}

/* line 13, ../../sass/_mainContent.scss */
main {
  padding-bottom: 31px;
}

/* line 17, ../../sass/_mainContent.scss */
.container {
  margin: 0 auto;
  width: 760px;
}
@media (max-width: 760px) {
  /* line 17, ../../sass/_mainContent.scss */
  .container {
    margin: 0;
    width: 100%;
  }
}

/* line 27, ../../sass/_mainContent.scss */
.splash {
  background: #000;
  left: 0;
  position: fixed;
  top: 44px;
  width: 100%;
  z-index: -5;
}
@media (max-width: 500px) {
  /* line 27, ../../sass/_mainContent.scss */
  .splash {
    display: none;
    visibility: collapse;
  }
}
/* line 40, ../../sass/_mainContent.scss */
.splash a {
  display: none;
  visibility: collapse;
}
/* line 45, ../../sass/_mainContent.scss */
.splash img {
  opacity: 0;
  width: 100%;
  transition: opacity 0.75s ease-in;
}
/* line 50, ../../sass/_mainContent.scss */
.splash img.loaded {
  opacity: 0.5;
}

/* line 1, ../../sass/_navmenu.scss */
ul.navmenu {
  background: #fff;
  display: block;
  list-style: none;
  margin: 0 10px 0 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 44px;
  transition: max-height 0.75s ease;
  width: 300px;
}
/* line 15, ../../sass/_navmenu.scss */
ul.navmenu.active {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
  max-height: 185px;
}
/* line 20, ../../sass/_navmenu.scss */
ul.navmenu > li {
  display: block;
}
/* line 23, ../../sass/_navmenu.scss */
ul.navmenu > li > a {
  color: #000;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  height: 40px;
  line-height: 30px;
  padding: 8px 5px;
  text-decoration: none;
  transition: box-shadow 0.75 ease;
}
/* line 34, ../../sass/_navmenu.scss */
ul.navmenu > li > a:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}
/* line 39, ../../sass/_navmenu.scss */
ul.navmenu > li.separator {
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 8px auto;
  width: 90%;
}
/* line 46, ../../sass/_navmenu.scss */
ul.navmenu > li.social-links {
  line-height: 40px;
  height: 40px;
}
/* line 50, ../../sass/_navmenu.scss */
ul.navmenu > li.social-links a {
  float: left;
  text-align: center;
  width: 65px;
}

/* line 1, ../../sass/_twitter.scss */
.twitter-share-button {
  float: right;
}

/* line 5, ../../sass/_twitter.scss */
header .twitter-share-button {
  float: none;
}

/* line 9, ../../sass/_twitter.scss */
a.twitter-share-button {
  display: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 2, ../../sass/_youtube.scss */
article.post .youtube-wrapper {
  border-radius: 4px;
  height: 0;
  margin-top: 26px;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  position: relative;
}
@media (max-width: 500px) {
  /* line 2, ../../sass/_youtube.scss */
  article.post .youtube-wrapper {
    margin-top: 21px;
  }
}
/* line 15, ../../sass/_youtube.scss */
article.post .youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
